@font-face{
    font-family:'appleSemiBold';
    src: url(../../font/appleFont/SF-Pro-Display-Semibold.otf);
}
@font-face{
    font-family:'appleRegular';
    src: url(../../font/appleFont/SF-Pro-Display-Regular.otf);
}

.setting-appSiteBox{
    height: 96%;
    width: 100%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner-settingAppSiteBox{
    height: 90%;
    width: 90%;
    /* border: 2px solid; */
    border-radius: 7px;
    border: 2px solid rgb(127, 127, 129);
    background-color: rgb(54,55,57);
}
.setting-desktopHeadBox{
    height: 6%;
    width: 100%;
    /* border: 1px solid; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-desktopHeadBox{
    height: 83%;
    width: 9.5%;
    border-radius: 5px;
    background-color: rgb(150,152,152);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: appleRegular;
    font-weight: 400;
    font-size: 20px;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}
.setting-wallpaperView-container{
    height: 25%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper-viewBox{
    height: 85%;
    width: 18%;
    border: 3px solid rgb(127, 127, 129);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper-viewBox img{
    height: 80%;
}
.wallpaper-viewBox-text{
    height: 85%;
    width:60%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
  justify-content: center;
}

.setting-modeBox-container{
    height: 40%;
    width: 40%;
    /* border:1px solid; */
    display: flex;
}
.setting-modeBox{
    height: 90%;
    width: 40%;
    margin-left: 30px;
    border-radius: 5px;
    /* border: 1px solid; */
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: appleSemiBold;
    font-weight: 500;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}
.settingLight{
    color: white;
    background-color: rgb(105,104,107);
}

.setting-modeBox-text{
    height: 40%;
    margin-left: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: appleRegular;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.setting-wallpaper-container{
    margin-top: 15px;
    height: 55%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-setting-wallpaper{

    height: 100%;
    width: 80%;
    display: flex;
    /* border: 1px solid; */
    background-color: rgb(29,31,33);
    border: 2px solid rgb(127, 127, 129);



}
.setting-innerSideNav{
    height: 100%;
    width: 28%;
    /* border: 1px solid; */
    border-right: 2px solid rgb(127, 127, 129);;
}
.setting-innerSideNavText{
    height: 10%;
    width: 100%;
    border-radius: 5px;
    font-family: appleRegular;
    font-size: 18px;
    color: white;
    padding: 10px;
}
.setting-innerSideNavText2{
    height: 10%;
    width: 100%;
   margin-top: 5px;
    font-family: appleRegular;
    font-size: 18px;
    color: white;
    padding: 10px;
    background-color: rgb(105,104,107);
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting-innerSideNavText2 span{
    font-size: 25px;
    color: white;
    margin-right: 8px;
}
.setting-wallPaper-box-inner{
    width: 80%;
    height: 100%;
    /* border: 2px solid; */
    display: flex;
    /* padding: 20px; */
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}


.wallpaper-boxImg{
    height: 40%;
    width: 28%;
    /* border: 1px solid; */
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.settingBeach{
    background-image: url(./settingimage/beach.jpeg);
}
.settingBigSur{
    background-image: url(./settingimage/bigsur.jpeg);
}

.settingDesertDark{
    background-image: url(./settingimage/desert.jpeg);

}
.settingLake{
    background-image: url(./settingimage/lake.jpeg);

}
.settingMontereyDark{
    background-image: url(./settingimage/MontereyDark.jpeg);

}
.MontereyLight{
    background-image: url(./settingimage/MontereyLight.jpeg);

}
