
.star{
    position: absolute;
   height:28vh;
   width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: starOpacity;
    animation-duration:3s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}

@keyframes starOpacity{
    0%{
        transform: scale(1);
        opacity: 0.3;
    }
    50%{
        transform: scale(1.06); 
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.pokemonCard-appSiteBox{
    position: relative;
    height: 96%;
    width: 100%;
    background-image:url(./pokemonCardImage/pokiHomePage.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
    
}
.divBlurBox{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}

.playHouse{
    height: 28vh;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
    position:absolute;
    animation-name: playHouse;
    animation-duration:3s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
}


@keyframes playHouse{
    0%{
        transform: scale(1);
       
    }
    50%{
        transform: scale(1.08) ;
    }
}

.divBlurBoxAndGameBox{
    height: 100%;
    width: 100%;
    position: relative;
    backdrop-filter: blur(1.5px);
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardGameBox{
    height: 95%;
    width: 85%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
.board{
    position: relative;
    margin: 5px;
    height: 40%;
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    animation-name: boardAni;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: 1;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}

@keyframes boardAni{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}


.flipAni{
    animation-name: flipAni;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;   
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
@keyframes flipAni{
    0%{
      transform: rotateY(180deg);
    }
    50%{
      transform: rotateY(0deg);
    }
    
}

.boardImg{
    position: absolute;
    height: 100%;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
.turnImg{
    position: absolute;
    height:45%;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
.extraImageBox{
    position:absolute;
    bottom: 0px;
    height:30%;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
.pikaJumpContainer{
    height: 100%;
    width: 100%;
    /* border: 2px solid yellow; */
   display: flex;
   justify-content: flex-end;
   cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
.pikaJump{
    height: 100%;
    width: 20%;
    /* border: 2px solid; */
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
.pikaJumpImg{
    height: 95%;
    animation-name: jump;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
@keyframes jump{
    0% { transform:translateY(0)}
    50% { transform: translateY(-30%) }
    
}
.lehaEntryAni{
    animation-name: lehaEntry;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    /* border: 2px solid ; */
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}

@keyframes lehaEntry{
    0%{
        position: relative;
        top:170px;
    }
    50%{
        position: relative;
        top:80px;
    }
    100%{
        position: relative;
        top:0px;
    }
}
.lehaBox{
    height: 100%;
    background-repeat: no-repeat;
    /* border: 1px solid yellow; */ 
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}
.lehaBoxImg{
    margin-left: 0.5vw;
    height: 103%;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}

.WobbufetBox{
    position: absolute;
    top:35px;
    left: -75px;
    height: 40%;
    width: 20%;
    animation-name: boardAni;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

    /* border: 1px solid; */
}

.WobbufetImg{
    height: 80%;
    transform: rotate(34deg);
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}

.wonDiv{
    height: 100%;
    width: 100%;
   background-image: url(./pokemonCardImage/won);
   background-repeat: no-repeat;
   background-size: cover;
   cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;

}