@font-face{
    font-family:'appleSemiBold';
    src: url(../../font/appleFont/SF-Pro-Display-Semibold.otf);
}
.linkedLn-appSiteBox{
    height: 96%;
    width: 100%;
    /* border: 2px solid red; */
    background-color: rgb(242,243,239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.linkedLn-headBox{
    height: 8%;
    width: 100%;
    /* border: 2px solid; */
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid rgb(235,234,234);
}
.headBox-container{
    height: 100%;
    width: 80%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoSearch-container{
    height: 70%;
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
 
    align-items: center;
}
.linkedLn-logo{
    height: 88%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.linkedLn-logo img{
    height:80%;
}
.logoSearch-container{
    height: 100%;
    width: 30%;
    /* border: 2px solid; */

}


.linkedLn-searchBox{
    height: 80%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.3vw;
}
.linkedLn-searchBox input{
    height: 88%;
    margin-left: 0.3vw;
    background-color: rgb(239,243,249);
    border-radius:  5px;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: rgb(94,97,98);
}
.linkedLn-searchBox input::placeholder{
    padding-left: 0.3vw;
    color: rgb(94,97,98);
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px
}

.linkedLn-iconContainer{
    height: 100%;
    width: 70%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(102,102,102);
    margin-left:5vw;
}
.linkedLn-iconBox{
    height: 100%;
    width: 11.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.linkedLn-iconBox span{
    font-size: 28px;
}
.linkedLn-iconBox{
    font-size: 10px;
}
.linkedLn-iconBox:hover{
    color: rgb(25,25,25);
}
.ldln-iconBox-Me{
    background-image: url(./image/me.jfif);
    background-size: cover;
   height: 55%;
   margin-bottom: 3px;
   width: 35%;
   border-radius: 50%;  
}
.ldln-iconBox-MeText{
    color: rgb(25,25,25);
    position: relative;
}
.linkedLn-iconBox-select{
    position: absolute;
    bottom: 0px;
    height: 5%;
    width: 80%;
    background-color: rgb(25,25,25);
}
.linkedLn-iconBox-tryPremiumText{
    font-family: 'Roboto', sans-serif;
    color: rgb(144,89,6);
    font-size: 12px;
    text-align: center;
}
.linkedLn-iconBox-tryPremiumText:hover{
    color: rgb(144,89,6);
    text-decoration: underline;
}

.profile-view-container{
    height: 92%;
    width: 80.5%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.profile-view-left-container{
    height: 100%;
    width: 70%;
    /* border: 1px solid; */

}
.profile-view-midBlank-container{
    height: 100%;
    width: 1.8%;
}
.inner-profileView-Box{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
    /* border: 1px solid; */
}

.inner-dashBoard-container{
    margin-top: 20px;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
    background-color: rgb(221,231,241);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-dashboard-dashboardText{
    height: 12%;
    width: 93%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    color: rgb(22,25,25,.9);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.inner-dashboard-privateToYou{
    height: 6%;
    width: 93%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;
    color: rgb(93,97,100,.7);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.inner-dashboard-viewsDetail-container{
    height: 17%;
    width: 93%;
    /* border: 1px solid; */
    margin-top: 13px;
    border-radius: 10px;
    background-color: rgb(254,254,255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
}
.viewsDetail-box{
    height: 100%;
    width: 32%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    border-right:2px solid rgb(235,234,234);
}
.viewsDetail-box:hover{
    text-decoration: underline;
    text-decoration-color: rgb(16,107,194);
}
.viewsDetail2ndBox{
    padding-left: 10px;
}
.viewsDetail3rdBox{
    padding-left: 10px;
    border-right: none;
}
.viewsDetail-box-number{
    height: 65%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
   align-items: center;
   font-size: 30px;
   color: rgb(16,107,194);
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
}
.viewsDetail-box-TextData{
    height: 35%;
    width: 100%;
    /* border: 1px solid; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(119,118,119);
}
.inner-dashboard-data-container{
    height: 55%;
    margin-top: 13px;
    width: 93%;
    border-radius: 10px;
    background-color: rgb(254,254,255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard-data-box{
    height: 23%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}
.dashboard-data-box-icon{
    height: 90%;
    width: 7%;
    /* border: 1px solid; */
   
}
.dashboard-data-box-icon img{
    height: 60%;
    opacity: 0.6;
}
.dashboard-data-box span{
    font-size: 25px;
    color: rgb(102,102,102);
    /* border: 1px solid; */
    padding: 9.5px;
}


.dashboard-data-box-textContainer{
    height: 95%;
    width: 92.8%;
}

.dashboard-data-box-textContainer:hover {
    text-decoration: underline;
    text-decoration-color: rgb(16,107,194);
}
.dashboard-data-box-text1{
    padding-left: 10px;
    height: 50%;
    /* border: 1px solid; */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(26,27,27);
    display: flex;
    align-items: center;
}
.dashboard-data-box-text2{
    padding-left: 10px;
    height: 50%;
    /* border: 1px solid; */
    font-size: 15px;
    color: rgb(93,97,100,.7);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}






.profile-view-right-container{
    height: 100%;
    width: 28.5%;
    
}
.inner-profileView-Banner{
    height: 42%;
    width: 100%;
    background-image: url(./image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid rgb(224,222,221);
    border-left: 2px solid rgb(224,222,221);
    border-right: 2px solid rgb(224,222,221);
    border-radius: 10px 10px 0px 0px;
    position: relative;
}
.banner-Camera-Icon{
    position: relative;
    top: 10px;
    left: 20px;
    height: 20%;
    width: 95%;
    /* border: 2px solid; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.banner-Camera-Icon span{
    color: rgb(11,102,195);
    font-size: 15px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.inner-profileView-content{
    height: 60%;
    width: 100%;
    background-color: rgb(254,255,254);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.prfile-mypic{
    position: absolute;
    bottom: 0;
    height: 86%;
    border: 4px solid rgb(254, 255, 254);
    border-radius: 50%;
    transform: translate(20%,50%);
}

.inner-profileView-content-logo{
    height: 30%;
    width: 94.5%;
    /* border: 2px solid; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.inner-profileView-content-logo span{ 
    position: relative;
    top: -10px;
    color:rgb(102,102,102);
    padding: 8px;
    border-radius: 50%;
}
.inner-profileView-content-logo span:hover{
    
    background-color: rgb(241,240,240);
}
.inner-profileView-content-Text{
    height:13%;
    width: 94.5%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: rgb(25,25,25);
    font-weight: 500;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}

.inner-profileView-content-bioText{
    height: 8%;
    width: 94.5%;
    /* border: 1px solid; */
    font-size: 15px;
    color: rgb(25,25,25);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.inner-profileView-content-address{
    height: 11%;
    width: 94.5%;
    font-size: 15px;
    color: rgb(145,144,144);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* border: 1px solid red; */
    display:flex;
    align-items: center;
}

.inner-profileView-content-address span{
    font-size: 15px;
    color: rgb(29,113,199);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.inner-profileView-content-address span:hover{
   text-decoration: underline;
}

.inner-profileView-content-connections{
    height: 10%;
    width: 94.5%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(145,144,144);
    /* border: 1px solid; */
    display:flex;
    align-items: center;
    color: rgb(29,113,199);
    font-weight: 500;
}

.inner-profileView-content-optionBox{
    height: 20%;
    width: 94.5%;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
}

.content-optionBox{
    height: 65%;
    width: 15%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 1.5px solid rgb(102,102,102);
    color: rgb(102,102,102);
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.content-optionBox:hover{
border: 2px solid rgb(102,102,102);
background-color: rgb(179,178,179,.3);
}
.openToBox{
    background-color: rgb(11,102,195);
    color: white;
    border: none;
    font-weight: 500;
}
.openToBox:hover{
    border: 0px solid rgb(11,102,195);
    background-color: rgb(11,102,195);
}

.edit-langProfile-box{
    height: 20%;
    width: 100%;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254,255,254);

}
.langProfile-box{
    height: 50%;
    width: 90%;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(102,102,102,.9)
    
    
}
.langProfile-border{
    border-bottom:2px solid rgb(241,240,241);
}

.questionMarkIcon{
    position: absolute;
    right: 0px;
    font-size: 15px;
}
.people-viewed-container{
    height: 118%;
    width: 100%;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-top:23px ;
    background-color: rgb(254,255,254);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.peopleAlsoViewed{
    height: 7%;
    width: 90%;
    /* border: 1px solid ; */
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(26,27,27);
}

.people-info-box{
    height: 16%;
    width: 90%;
    /* border: 1px solid; */
    display: flex;
    margin-top: 15px;
  
}
.people-info-box img{
    height:50%;
    /* border: 1px solid; */
    border-radius: 50%;
}
.userData-Box{
    height: 100%;
    width: 81%;
    /* border: 1px solid; */
    padding-left:10px;
}
.userData-Box-Name{
    height: 25%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(26,27,27);
}
.userData-Box-Bio{
     width: 100%;
    /* border: 1px solid; */
    font-size: 13px;
    color: rgb(145,144,144);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
   
}
.userData-Box-messageBox{
    margin-top: 8px;
    height: 33%;
    width: 43%;
    border: 1.5px solid rgb(102,102,102);
    border-radius:30px;
    font-size: 15px;
    color: rgb(102,102,102);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userData-Box-messageBox:hover{
    border: 2px solid rgb(102,102,102);
background-color: rgb(179,178,179,.3);
}
.inner-blank-view{
    height: 20px;
    width: 100%;
}