.cupHead-appSiteBox{
    position: relative;
    height: 96%;
    width: 100%;
    background-image:url(./cupHeadImage/cupHead.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Start-Container{
    position: absolute;
    bottom: 0px;
    height: 40%;
    width: 100%;
    /* border: 3px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}
.startBtnBox{
    height: 50%;
    width: 20%;
    border-radius: 2vw;
    display: flex;
    /* border: 1px solid; */
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
  
}

.startBtn {
    height: 15vh;
    animation-name: startBtn;
    animation-duration:1s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}

@keyframes startBtn{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    } 
}

.inner-cupHeadAppSiteBox{
    background-image: url(./cupHeadImage/cpWall2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
    
}
.cupHeadAppSiteBox-blur{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
    background-color: rgb(0, 0, 0,.4);
}
.inner-cupHeadBox{
    height: 90%;
    width: 85%;
    /* border: 1px solid; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}
.cpBox{
    height: 40%;
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}
.cpCup{
    height: 45%;
    opacity: .95;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}
.cpJump{
    height: 75%;
    position: absolute;
    top: -15px;
    left: 85px;
    animation-name: cpEntryAni;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}

@keyframes cpEntryAni{
    0%{ opacity: 0;  display: none; top: 80px;}
    50%{ opacity: 0;  display: none; top: 40px; }
    80%{ opacity: 0; display: none; top: 10px; }
    90%{ opacity: 1; display: block;}
    
}
.cpScoreBox{
    position: absolute;
    top:0px;
    right: 20px;
    height: 100px;
    width: 210px;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}
.cpScoreBox img{
    height: 75%;
    opacity: 0.9;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}
.box-CpGameOver{
    background-image: url(./cupHeadImage/won.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;
}