@font-face{
    font-family:'appleSemiBold';
    src: url(../../font/appleFont/SF-Pro-Display-Semibold.otf);
}

canvas{
   height: 100%;
   width: 100%;
   cursor: url(https://cur.cursors-4u.net/cursors/cur-7/cur613.cur), auto !important;
   background-color: white;
}
.whiteBoard-appSiteBox{
    position: relative;
    height: 96%;
    width:100%;
    /* border: 5px solid; */
    display: flex;
    justify-content: center;
  
}

.upLeftIcon-container{
    position:absolute;
    top:1vh;
    left:1vw;
    height: 4vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    background-color:rgba(235, 210, 218, 0.2);
    border-radius: 8px;
    padding-left: 5px;
    color: black;
}
.upMidIcon-container{
    position:absolute;
    top:1vh;
    height: 4.5vh;
    width:15vw;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(235, 210, 218, 0.2);
    border-radius: 8px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.colorBox{
    height: 70%;
    width: 10%;
    margin-left:3.5%;
    /* border: 1px solid; */
    border-radius: 5.5px;
}
.leftIconBox{
    height: 80%;
    width: 11%;
    font-size:2.5vh;;
    margin:0.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redColor{
    background-color: rgb(253,86,101);
}

.orangeColor{
    background-color: rgb(255,143,83);
}
.yellowColor{
    background-color: rgb(254,184,75);
}
.blueColor{
    background-color: rgb(47,156,235);
}
.greenColor{
    background-color: rgb(28,194,112);
}
.greyColor{
    background-color: rgb(149,149,149);
}
.lightGreyColor{
    background-color: rgb(222,222,222);
}

.upRightIcon-container{
    position:absolute;
    top:1vh;
    right:1vw;
    height: 4vh;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:rgba(235, 210, 218, 0.2);
    border-radius: 8px;
    padding-left: 12px;
}
.wbSpanBox{
    font-size:3vh;;
    margin-right: 1vw;
}
.wbSpanBoxText{
    font-family: appleSemiBold;
    font-size: 2.3vh;
    color: rgb(50,50,50,.5);
}
.redWbSpanBox{
    color: rgb(142,82,67);
}

.bottomContainer{
    position:absolute;
    bottom: 8px;
    height: 4vh;
    padding-left: 0.5vw;
    padding-right: 0.8vw;

    background-color:rgba(235, 210, 218, 0.2);
    display: flex;
    align-items: center;
    border-radius: 8px;
}
.circleSpan{
    margin-left: 0.8vw;
    border-radius: 50%;
}
.smallCircle{
    font-size: 1.35vh;
    color: rgb(47,156,235);
}
.smallCircle:hover{
    color: rgb(47,156,235);
}
.midCircle:hover{
    color: rgb(47,156,235);
}
.largeCircle:hover{
    color: rgb(47,156,235);
}
.midCircle{
    font-size: 1.8vh;
}
.largeCircle{
    font-size: 2.5vh;
}

.btmSpanBoxText{
    position: relative;
    top:-1px;
     font-weight: 600;
    font-size: 3vh;
    margin-left: 0.6vw;
    color: rgb(50,50,50,.2);
}

.drawingSpan{
    margin-left: 0.8vw;
    color: rgb(189,144,82);
}
.eraseSpan{
    margin-left: 0.8vw;
    transform: rotate(120deg);
    font-size: 2.4vh;
}
.eraseSpan:hover{
    color: rgb(47,156,235);
}
.redoSpan:hover{
    color: rgb(47,156,235);
}
.undoSpan:hover{
    color: rgb(47,156,235);
}
.undoSpan{
    font-size: 2.5vh;
    margin-left: 0.8vw;
}
.redoSpan{
    font-size: 2.8vh;
    margin-left: 0.5vw;
}
