@font-face{
    font-family:'appleSemiBold';
    src: url(../../font/appleFont/SF-Pro-Display-Semibold.otf);
}

.gallery-appSiteBox{
    height: 96%;
    width: 100%;
    display: flex;
    align-items: center;
}

.gallerySideNavBlur{
    height: 100%;
    width: 16%;
    background-color: rgb(31,32,34);
    border-right: 2px solid rgb(0, 0, 0); 
    display: flex;
}

.gallerySideNav{
    height: 90%;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upperBorder2ndBox{
    border-top: 2px solid rgb(0, 0, 0);
    padding-top: 1.5vh;
    
}
.albumsBox{
    height: 60%;
    width: 17%;
}
.newYork{
    background-image: url(https://images.pexels.com/photos/802024/pexels-photo-802024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}

.streetStyle{
    background-image: url(https://images.pexels.com/photos/3385354/pexels-photo-3385354.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}
.Vietnam{
    background-image: url(https://images.pexels.com/photos/1482193/pexels-photo-1482193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}
.India{
    background-image: url(https://images.pexels.com/photos/3361480/pexels-photo-3361480.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}
.Birthday{
    background-image: url(https://images.pexels.com/photos/226737/pexels-photo-226737.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}
.Home{
    background-image: url(https://images.pexels.com/photos/7045839/pexels-photo-7045839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}
.Weeding{
    background-image: url(https://images.pexels.com/photos/4038211/pexels-photo-4038211.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}
.Space{
    background-image: url(https://images.pexels.com/photos/6444367/pexels-photo-6444367.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}
.navDataContainer{
    position: relative;
    top: 3vh;
    height: 50%;
    width: 80%; 
}
.navLib{
    position: relative;
    left: -0.5vw;
    font-family: appleSemiBold;
    font-size: 1.7vh;
    margin-bottom: 1vh;
    color: rgb(229, 229, 228);
}

.navbox{
    height: 11.5%;
    width: 90%;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    border-radius: 5px;
    margin-bottom: 0.5vh;
    color: rgb(229, 229, 228);
}
.specialNavBox{
    color: black;
    background-color: rgb(218, 187, 191,.5);
}
.navbox:hover{
    color: black;
    background-color: rgb(218, 187, 191,.5);
}

.spanBox{
    font-size: 2.2vh;
    width: 18%;
    color: rgb(6,100,254);
}

.navText{
    font-size: 2vh;
    margin-left: 0.5vh;
    
    font-family:appleSemiBold ;
}
.navText:hover{
    color: black;
}




.gallery-container{
    height: 100%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.galleryTitle{
    height: 10%;
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0); 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.periodPhotoDiv{
    height: 90%;
    width: 55%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(151,150,151);
}

.containerBox{
    margin-left: 12vw;
    height: 60%;
    width: 60%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-content: center;
}
.periodBox{
    height: 100%;
    width: 30%;
    /* border: 1px solid; */
    font-family: appleSemiBold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(229, 229, 228);
}
.periodBox:hover{
    background-color: rgb(218, 187, 191,.5);
    color: black;
}
.yearsBox{
    border-left: 2px solid rgb(232,203,212,.5);
    border-top: 2px solid rgb(232,203,212,.5);
    border-bottom: 2px solid rgb(232,203,212,.5);
    border-radius: 5px 0px 0px 5px;
}

.monthsBox{
    border-top: 2px solid rgb(232,203,212,.5);
    border-left: 2px solid rgb(232,203,212,.5);
    border-bottom: 2px solid rgb(232,203,212,.5);
    border-right: 2px solid rgb(232,203,212,.5);
}
.daysBox{
    border-top: 2px solid rgb(232,203,212,.5);
    border-bottom: 2px solid rgb(232,203,212,.5);
    border-right: 2px solid rgb(232,203,212,.5);
}
.allPhotosBox{
    border-top: 2px solid rgb(232,203,212,.5);
    border-bottom: 2px solid rgb(232,203,212,.5);
    border-right: 2px solid rgb(232,203,212,.5);
    border-radius: 0px 5px 5px 0px;
    color: black;
    background-color: rgb(218, 187, 191,.5);
}
.iconPhotoDiv{
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gallerySearchBox{
    height: 65%;
    width: 30%;
    margin-right: 1vw;
    display: flex;
}
.gallerySearchBox input{
    height: 100%;
    width: 100%;
    outline: none;
    border:2px solid rgb(219,218,218,.6);
    border-radius:  5px;
    font-family: appleSemiBold;
    margin-left: 1vw;
    color: rgb(202, 200, 200)

}
.gallerySearchBox input::placeholder{
    color: rgb(202, 200, 200);
    padding-left: 2px;
}
.iconDiv{
    margin-right: 0.2vw;
    height: 65%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  /* border: 2px solid; */
}

.iconDiv span{
    font-size: 3vh;
    width: 18%;
    color: rgb(229, 229, 228);
}

.infoIcon span{
    color:  rgb(229, 229, 228);
}

.innerGalleryMediaContainer{
    height: 90%;
    width: 100%;
    overflow:auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
}
.media-Card{
    height: 35%;
    width: 23%;
    border: 2px solid rgb(202, 200, 200,.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(202, 200, 200,.8);
}

.actual-media{
    height: 80%;
    width: 100%;
    /* border: 2px solid red; */
    background-color: rgb(202, 200, 200,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
  
}
.actual-media img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.actual-media video{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.media-buttons{
    height: 20%;
    width: 100%;
    /* border: 1px solid yellow; */
    border-top: 2px solid rgb(232,203,212,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.trashBox{
    height: 100%;
    width: 50%;
    border: none;
    border-right: 2px solid rgb(232,203,212,.5);
    font-family: appleSemiBold;
    font-size: 2vh;
    color:  rgb(99,99,99);
}
.trashBox:hover{
    background-color: rgb(218, 187, 191,.5);
}
.downlaodBox{
    height: 100%;
    width: 50%;
    border: none;
    font-family: appleSemiBold;
    font-size: 2vh;
    color:  rgb(99,99,99);
}
.downlaodBox:hover{
    background-color: rgb(218, 187, 191,.5);
}
.media-buttons span{
    font-size: 2.5vh;
    width: 18%;
    color:  rgb(99,99,99);
    position: relative;
    top:2px;
}


.noMedia{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:appleSemiBold;
    font-size: 5vh;
    color: rgb(229, 229, 228);


}
.noMediaIcon{
    font-size: 5vh;
    width: 60px;
    color: rgb(229, 229, 228);
      
}